@model Complain.Models.VForm;
@using SetCookie

@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
}
@{
    ViewData["Title"] = "Home Page";
}

@{
    var userIdCookie = Context.Request.Cookies["UserName"];
    // ตรวจสอบว่าคุกกี้ "UserId" มีค่าหรือไม่
    var hasUserIdCookie = !string.IsNullOrEmpty(userIdCookie);
}


@if (hasUserIdCookie)
{
    <div class="container">
        <div class="padding">
            <h2>Complain</h2>
            <div class="main">
                <!--แสดง สถานะ-->
                <div class="cardBox">
                    <div class="card">
                        <div class="row">
                            <div>
                                <div class="numbers">@ViewBag.StatusId0</div>
                                <div class="cardName">รออนุมัติ</div>
                            </div>

                            <div class="iconBx">
                                <ion-icon name="time-outline"></ion-icon>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="row">
                            <div>
                                <div class="numbers">@ViewBag.StatusId1</div>
                                <div class="cardName">อนุมัติ</div>
                            </div>

                            <div class="iconBx">
                                <ion-icon name="checkmark-outline"></ion-icon>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="row">
                            <div>
                                <div class="numbers">@ViewBag.StatusId2</div>
                                <div class="cardName">ไม่อนุมัติ</div>
                            </div>

                            <div class="iconBx">
                                <ion-icon name="close-outline"></ion-icon>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="row">
                            <div>
                                <div class="numbers">@ViewBag.StatusId3</div>
                                <div class="cardName">ยกเลิก</div>
                            </div>

                            <div class="iconBx">
                                <ion-icon name="trash-bin-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <!--แสดง สถานะ-->
            </div>
        </div>
    </div>

}
else
{
    <p>ไม่มีข้อมูลจากคุกกี้</p>
}

@section Scripts
{
    <!-- =========== Scripts =========  -->
    <script src="assets/js/main.js"></script>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                searching: true,
                columnDefs: [
                    {
                        targets: [2, 6],
                        render: function (data, type, row) {
                            // แปลงวันที่ให้เป็นรูปแบบของ DataTables (เฉพาะวันที่)
                            return new Date(data).toLocaleDateString();
                        }
                    }
                ],
                "paging": false,
                "fnInitComplete": function () {
                    var myCustomScrollbar = document.querySelector('#dt-horizontal-scroll_wrapper .dataTables_scrollBody');
                    var ps = new PerfectScrollbar(myCustomScrollbar);
                },
                "scrollY": 500,
                "scrollX": false,
            });
        });

        $(document).ready(function () {
            updateProductCount();

            function updateProductCount() {
                $.ajax({
                    url: '@Url.Action("HomeCountAsync", "Complaint")',
                    type: 'GET',
                    success: function (data) {
                        $('#productCount').text('Total Products: ' + data);
                    },
                    error: function () {
                        $('#productCount').text('Error retrieving product count.');
                    }
                });
            }
        });

    </script>
}
