@using SetCookie
@model Complain.Models.Form;

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]Complaint</title>
    <!-- css/js -->
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/js/main.js" rel="stylesheet" />
    <!-- Core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- stylesTable -->
    <link rel="stylesheet" href="~/css/stylesTable.css" />
    <!-- stylesDashboard -->
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    @{
        var userIdCookie = Context.Request.Cookies["UserName"];
        // ตรวจสอบว่าคุกกี้ "UserId" มีค่าหรือไม่
        var hasUserIdCookie = !string.IsNullOrEmpty(userIdCookie);

        string SureActive = ViewContext.HttpContext.Request.Path;
    }

    @if (hasUserIdCookie)
    {
        <div class="container">
            <div class="navigation">
                <ul>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name=""></ion-icon>
                            </span>
                            <span class="title">Complaint</span>
                        </a>
                    </li>
                    <li class="@(SureActive.StartsWith("/Complaint/Home") ? "active hovered" :  "")">
                        <a asp-action="Home" asp-controller="Complaint">
                            <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                            <span class="title">หน้าหลัก</span>
                        </a>
                    </li>
                    <li class="@(SureActive.StartsWith("/Complaint/Index") ? "active hovered" :  "")">
                        <a asp-action="Index" asp-controller="Complaint">
                            <span class="icon"><ion-icon name="folder-outline"></ion-icon></span>
                            <span class="title">รายการข้อร้องเรียน</span>
                        </a>
                    </li>
                    @{
                        var loggedInRoles = User.GetLoggedInRole();
                    }

                    @if (loggedInRoles.Contains("1") || loggedInRoles.Contains("2"))
                    {
                        <li class="@(SureActive.StartsWith("/Complaint/Create") ? "active hovered" :  "")">
                            <a asp-action="Create" asp-controller="Complaint">
                                <span class="icon"><ion-icon name="create-outline"></ion-icon></span>
                                <span class="title">แบบรับข้อร้องเรียนลูกค้า</span>
                            </a>
                        </li>
                    @if (loggedInRoles.Contains("1"))
                    {
                        <li class="@(SureActive.StartsWith("/AddUser/Index") ? "active hovered" :  "")">
                            <a asp-action="Index" asp-controller="AddUser">
                                <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                                <span class="title">ผู้ใช้งาน</span>
                            </a>
                        </li>
                    }
                    }
                    <li class="@(SureActive.StartsWith("/User/Index") ? "active hovered" :  "")">
                        <a asp-action="Index" asp-controller="User">
                            <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                            <span class="title">บัญชีของฉัน</span>
                        </a>
                    </li>
                    <li class="@(SureActive.StartsWith("/User/Edit") ? "active hovered" :  "")">
                        <a asp-action="Edit" asp-controller="User">
                            <span class="icon"><ion-icon name="help-outline"></ion-icon></span>
                            <span class="title">ช่วยเหลือ</span>
                        </a>
                    </li>

                    <li class="@(SureActive.StartsWith("/Account/Logout") ? "active hovered" :  "")">
                        <a asp-controller="Account" asp-action="Logout">
                            <span  class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                            <span class="title" aria-hidden="true">ออกจากระบบ</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- ========================= Main ==================== -->
                <div class="main">
                    <div class="topbar">
                        <div class="toggle">
                            <ion-icon name="notifications-outline"></ion-icon>
                            <h6>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    @ViewBag.StatusId0
                                    <span class="visually-hidden">unread messages</span>
                                </span>
                            </h6>

                        </div>
                        <div class="user">
                            <img src="~/@User.GetLoggedInImgProfile()" alt="">
                        </div>
                    </div>
                </div>
        </div>
    }


        <div>
            @RenderBody()
        </div>
        @await RenderSectionAsync("Scripts", required: false)

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>

        
    </script>

</body>
</html>

